<h1>New course</h1>
<%= form_for([@instructor,@course])do |f|%>
<%= f.text_field :name, placeholder: 'Name'%><br>

<%= f.number_field :hours, placeholder: 'Hours'%><br>

<%= f.submit 'Submit' %><br>
<% end %>
